*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

body{
    height: 100vh;
    color: white;
}
.div-1{
    background-color: rgb(200, 50, 50);
    height: 25%;
}

.div-2{
    background-color:rgb(50, 157, 200);
    height: 25%;
}

.div-3{
    background-color:rgb(200, 50, 192);  
    height: 25%;
}

.div-4{
    background-color:rgb(120, 200, 50);
    height: 25%;
}
