*{
    box-sizing: border-box;
   margin: 0;
   font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

body{
     color: aliceblue;
}


.layout{
    display: flex; 
    flex-direction: row;
}

.layout > .sideNavBar{
    padding: 20px 20px 20px 20px;
    background-color: rgb(75, 66, 239);
    height: 100vh;
    min-width: 150px;
    overflow-y: auto;
    overflow-x: hidden;
    max-width: 250px;
    flex: 1;
 }
 .layout > .sideNavBar  > nav{
    display: flex;
    flex-direction: column;
    gap:8px;
}
.layout > .sideNavBar  > nav  > a{
text-decoration: none;
color: white;
text-transform: capitalize;
font-size: 2rem;
 }



.content{
    text-align: center;
    padding: 20px;
    font-size: 2rem;
    width: 60%;
    height: 100vh;
    overflow: auto;
    background-color: antiquewhite;
    flex: 1;
 }
.card-section{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 12px;
}
.card-section > .card-item{
    background-color: #9b2929;
    height: 120px;
    flex-shrink: 1;
    flex-grow: 1;
    flex-basis: 250px;
    color: white;
}
 
